<p>page-users works!</p>

<!-- <div>
  {{ users$ |async| json}}
</div> -->
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>UserName</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
      <td><a routerLink="details/{{user.id}}">details</a></td>


    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
